<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={{ url_for('static', path='/style.css') }} />
    <title>Reto IoT TC1004</title>
  </head>
  <body>
    <h1>API ara la TC1004B</h1>
    <h3>Elaborado por:</h3>
    <ul>
      <li>Joshua Amaya</li>
      <li>Diego Corrales</li>
      <li>Sebastián González</li>
      <li>Gerardo Gutiérrez</li>
      <li>Mateo Herrera</li>
      <li>Do Hyun Nam</li>
    </ul>
  </body>
</html>
